.container {
  padding: 12px;
}
.container :global(.markdown-text) {
  overflow: auto;
}
.container :global(.markdown-text) img {
  max-width: 100%;
}

.title {
  font-size: 20px;
  margin-bottom: 12px;
}

.info {
  display: flex;
  margin: 12px 0;
}

.prettyprint {
  overflow: auto;
}

.container h2 {
  font-size: 20px;
}

.extra {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 24px;
}

.tip {
  font-size: 12px;
  color: #555;
}
