.post {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.item {
  border-top: 1px solid #f0f0f0;
  &:first {
    border-top: none;
  }
}
