.container {
  padding: 12px;
  h2 {
    font-size: 18px;
  }
}

.title {
  margin-bottom: 12px;
}

:global(.markdown-text) {
  overflow: auto;

  & img {
    max-width: 100%;
  }
}

:global(.prettyprint) {
  overflow: auto;
}

.reply-header {
  background: #eee;
  padding: 6px;
}
