.container {
  margin: 8px 0;
}

.avatar {
  & img {
    width: 48px;
    border-radius: 50%;
    margin-right: 8px;
  }
}

.info {
  display: flex;
}

.extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 24px;
}

.time {
  font-size: 12px;
  color: #555;
  & time {
    color: rgb(0, 121, 107);
  }
}

.content {
  margin-top: 6px;
  img {
    max-width: 100%;
  }
}
