.extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  font-size: 12px;
  color: #b4b4b4;
}

.tag {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  border-radius: 2px;
  padding: 0 4px;
  margin-right: 8px;
}
