.container {
  /*display: flex;*/
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 9999;
}

:global(.example-enter) {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(250px, 0);
  & :global(.example-enter-active) {
    transform: translate(0, 0);
    transition: transform 1000ms ease-in;
  }
}

:global(.example-leave) {
  transform: translate(0, 0);
  & :global(.example-leave-active) {
    transform: translate(250px, 0);
    transition: transform 1000ms ease-in;
  }
}
