.container {
  /*display: flex;*/
}

:global(.main-enter) {

}

:global(.back-enter) {
  opacity: 0.01;
  &:global(.back-enter-active) {
    opacity: 1;
    transition: all 200ms;
  }
}

:global(.back-leave) {
  opacity: 1;
  &:global(.back-leave-active) {
    opacity: 0.01;
    transition: all 200ms;
  }
}
