.container {
  /*display: flex;*/
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  bottom: 0;
  display: flex;
  flex-direction: column;
  right: 0;
  z-index: 9999;
}

:global(.main-enter) {

}

:global(.back-enter) {
  opacity: 0.01;
  &:global(.back-enter-active) {
    opacity: 1;
    transition: all 200ms;
  }
}

:global(.back-leave) {
  opacity: 1;
  &:global(.back-leave-active) {
    opacity: 0.01;
    transition: all 200ms;
  }
}
